body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

section {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #fff;
    margin-top: 75px;
    box-shadow: 0px 10px 36px 16px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-top: 25px;
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 40px;
}

.cell {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
}

button {
    margin-bottom: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #000000;
}

.start-btn:hover {
    background-color: green;
    color: #ffffff;
    transition: 1s;
}

.restart-btn:hover {
    background-color: red;
    color: #fff;
    transition: 1s;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}